<!DOCTYPE html>

{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Online Shop</title>

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png'%}" rel="icon">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <!--external css-->
  <link href="{% static 'lib/font-awesome/css/font-awesome.css'%}" rel="stylesheet" />
  <link href="{% static 'lib/advanced-datatable/css/demo_page.css'%}" rel="stylesheet" />
  <link href="{% static 'lib/advanced-datatable/css/demo_table.css'%}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'lib/advanced-datatable/css/DT_bootstrap.css'%}" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css'%}" rel="stylesheet">
  <link href="{% static 'css/style-responsive.css'%}" rel="stylesheet">

  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="index.html" class="logo"><b>COM<span>PUTER</span></b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
          
          
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="{% url 'shop:logout' %}">Logout</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <li class="mt">
            <a href="{% url 'shop:index' %}">
              <i class="fa fa-user"></i>
              <span>个人空间</span>
              </a>
          </li>
          <li class="mt">
            <a href="{% url 'shop:computers' %}">
              <i class="fa fa-desktop"></i>
              <span>所有电脑</span>
              </a>
          </li>
          <li class="mt">
            <a href="{% url 'shop:shops' %}">
              <i class="fa fa-building-o"></i>
              <span>所有店铺</span>
              </a>
          </li>
          <li class="mt">
            <a href="{% url 'shop:allBrands' %}">
              <i class="fa fa-male"></i>
              <span>所有品牌</span>
              </a>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <h2><i class="fa fa-angle-right"></i>{{user.name}}的交易记录</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="content-panel">
    <h5> 筛选条件 </h5>
    <form action="{% url 'shop:buyRecord' user.user_id %}" method="post">
        {% csrf_token %}
        型号: <input type="text" name="computer_id"> <br><br>
        品牌: <select name='brand'>
              <option value=""></option>
              {% for b in brand %}
              <option value={{b.name}}>{{b.name}}</option>
              {% endfor %}
              </select> <br><br>
        商家: <input type="text" name="shop"> <br><br>
  		日期: <input type="date" name="minDate">&nbsp ~ &nbsp  <input type="date" name="maxDate"><br><br>
				
		价格: <input type="number" name="minPrice" min="0"> &nbsp ~ &nbsp <input type="number" name="maxPrice" min="0">(元) <br><br>
        排序: <select name='sort'>
              <option value=""></option>
              <option value="computer_id__computer_id">型号</option>
              <option value="computer_id__brand__name">品牌</option>
              <option value="shop_id__name">商家</option>
              <option value="buy_time">日期</option>
              <option value="price">价格</option>
              </select> &nbsp
	    <input type="radio" name="sortType" value="" checked>升序
	    <input type="radio" name="sortType" value="-">降序
        <br><br>
        <input class="btn btn-success btn-sm" type="submit" value="筛选">
    </form>
              <hr>
              <table class="table">
                <thead>
                  <tr>
                    <th><i class="fa fa-desktop"></i>型号</th>
                    <th><i class=" fa fa-brand"></i>品牌</th>
                    <th><i class="fa fa-shopping-cart"></i>商家</th>
                    <th><i class="fa fa-clock-o"></i>日期</th>
                    <th><i class="fa fa-money"></i>价格</th>
                  </tr>
                </thead>
                <tbody>
                  {% for r in records %}
                  <tr>
                      <td><a href="{% url 'shop:computerDetail'               r.computer_id.computer_id %}">{{r.computer_id.computer_id}}             </a></td>
                      <td><a href="{% url 'shop:brand' r.computer_id.brand.name %}">{{r.computer_id.brand.name}}</a></td>
                      <td><a href="{% url 'shop:shopDetail' r.shop_id.shop_id %}">{{r.shop_id.name}}</a></td>
                      <td>{{r.buy_time}}</td>
                      <td>{{r.price}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- /row -->
        <br>
        <a href="{% url 'shop:buyRecord' user.user_id %}"><button type="button" class="btn btn-warning">清空筛选条件</button></a>

      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->

  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="{% static 'lib/jquery/jquery.min.js'%}"></script>
  <script type="text/javascript" language="javascript" src="{% static 'lib/advanced-datatable/js/jquery.js'%}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js'%}"></script>
  <script class="include" type="text/javascript" src="{% static 'lib/jquery.dcjqaccordion.2.7.js'%}"></script>
  <script src="{% static 'lib/jquery.scrollTo.min.js'%}"></script>
  <script src="{% static 'lib/jquery.nicescroll.js'%}" type="text/javascript"></script>
  <script type="text/javascript" language="javascript" src="{% static 'lib/advanced-datatable/js/jquery.dataTables.js'%}"></script>
  <script type="text/javascript" src="{% static 'lib/advanced-datatable/js/DT_bootstrap.js'%}"></script>
  <!--common script for all pages-->
  <script src="{% static 'lib/common-scripts.js'%}"></script>
</body>

</html>
