<!DOCTYPE html>
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Online Shop</title>

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png'%}" rel="icon">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <!--external css-->
  <link href="{% static 'lib/font-awesome/css/font-awesome.css'%}" rel="stylesheet" />
  <link href="{% static 'lib/advanced-datatable/css/demo_page.css'%}" rel="stylesheet" />
  <link href="{% static 'lib/advanced-datatable/css/demo_table.css'%}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'lib/advanced-datatable/css/DT_bootstrap.css'%}" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css'%}" rel="stylesheet">
  <link href="{% static 'css/style-responsive.css'%}" rel="stylesheet">

  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="index.html" class="logo"><b>COM<span>PUTER</span></b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
          
          
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="{% url 'shop:logout' %}">Logout</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <li class="mt">
            <a href="{% url 'shop:index' %}">
              <i class="fa fa-user"></i>
              <span>个人空间</span>
              </a>
          </li>
          <li class="mt">
            <a href="{% url 'shop:computers' %}">
              <i class="fa fa-desktop"></i>
              <span>所有电脑</span>
              </a>
          </li>
          <li class="mt">
            <a href="{% url 'shop:shops' %}">
              <i class="fa fa-building-o"></i>
              <span>所有店铺</span>
              </a>
          </li>
          <li class="mt">
            <a href="{% url 'shop:allBrands' %}">
              <i class="fa fa-male"></i>
              <span>所有品牌</span>
              </a>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> {{seller.name}}(id:{{seller.seller_id}}, user_type:{{user_type}})</h3>
        <p>上月总营业额{{turnover}}元</p>
        <div class="row">
          <div class="col-md-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> 名下店铺&nbsp&nbsp</h4>
              <hr>
              <table class="table">
                <thead>
                  <tr>
                    <th><i class="fa fa-shopping-cart"></i>店铺名</th>
                    <th><i class=" fa fa-truck"></i>发货地</th>
                    <th><i class="fa fa-clock-o"></i>开张日期</th>
                    <th><i class="fa fa-money"></i>营业额</th>
                  </tr>
                </thead>
                <tbody>
                  {% for id, name, city, date, turnover in shops %}
                    <tr>
                    <td><a href="{% url 'shop:shopDetail' id %}">{{name}}</a></td>
                    <td>{{city}}</td>
                    <td>{{date}}</td>
                    <td>{% if turnover %} {{turnover}}元
                        {% else %} 0.0元
                        {% endif %} </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>

            {% if curSeller %}<br><a href="{% url 'shop:openShop' seller.seller_id %}"><button type="button" class="btn btn-warning">开店</button></a>{% endif %}
          </div>
          <!-- /col-md-12 -->
          <div class="col-md-12 mt">
            <div class="content-panel">
                <h4><i class="fa fa-angle-right"></i> 最近交易&nbsp&nbsp<a href="{% url 'shop:sellerRecord' seller.seller_id %}"> 查看所有交易记录 </a></h4>
              <table class="table table-hover">
                <hr>
                <thead>
                  <tr>
                    <th><i class="fa fa-shopping-cart">店铺</th>
                    <th><i class="fa fa-desktop"></i>型号</th>
                    <th><i class="fa fa-user"></i>买家</th>
                    <th><i class="fa fa-clock-o"></i>日期</th>
                    <th><i class="fa fa-money"></i>价格</th>
                  </tr>
                </thead>
                <tbody>
                {% for s in sells %}
                  <tr>
                  <td><a href="{% url 'shop:shopDetail' s.shop_id.shop_id %}">{{s.shop_id.name}}</a></td>
                  <td><a href="{% url 'shop:computerDetail'           s.computer_id.computer_id %}">{{s.computer_id.computer_id}}         </a></td>
		              <td><a href="{% url 'shop:userIndex' s.user_id.user_id %}">{{s.user_id.name}}</a></td>
		              <td>{{s.buy_time}}</td>
		              <td>{{s.price}}元</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <br>
            <a href="{% url 'shop:sellerRecord' seller.seller_id %}"> <button type="button" class="btn btn-warning">查看所有交易记录</button> </a>
          </div>
          <!-- /col-md-12 -->
        </div>
        <!-- /row -->
      </section>
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->

  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="{% static 'lib/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js'%}"></script>
  <script class="include" type="text/javascript" src="{% static 'lib/jquery.dcjqaccordion.2.7.js'%}"></script>
  <script src="{% static 'lib/jquery.scrollTo.min.js'%}"></script>
  <script src="{% static 'lib/jquery.nicescroll.js'%}" type="text/javascript"></script>
  <!--common script for all pages-->
  <script src="{% static 'lib/common-scripts.js'%}"></script>
  <!--script for this page-->
  
</body>

</html>
