<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Online Shop</title>
</head>
<body>
    <h2> 所有电脑 </h2>
    <h5> 筛选条件 </h5>
    <form action="{% url 'shop:computers' %}" method="post">
        {% csrf_token %}
        型号: <input type="text" name="computer_id"> <br>
        cpu: <input type="text" name="cpu"> <br>
        显卡: <input type="text" name="graphics_card"> <br>
        内存: <input type="number" name="minMemory" min="0"> &nbsp ~ &nbsp <input type="number" name="maxMemory" min="0">(GB)<br>
        SSD: <input type="number" name="minssd" min="0"> &nbsp ~ &nbsp <input type="number" name="maxssd" min="0">(GB)<br>
        磁盘: <input type="number" name="minDisk" min="0"> &nbsp ~ &nbsp <input type="number" name="maxDisk" min="0">(GB)<br>
        品牌: <select name='brand'>
              <option value=""></option>
              {% for b in brand %}
              <option value={{b.name}}>{{b.name}}</option>
              {% endfor %}
              </select> <br>
        排序: <select name='sort'>
              <option value=""></option>
              <option value="computer_id">型号</option>
              <option value="cpu">cpu</option>
              <option value="graphics_card">显卡</option>
              <option value="memory">内存</option>
              <option value="ssd_capacity">SSD</option>
              <option value="disk_capacity">磁盘</option>
              <option value="brand">品牌</option>
              </select> &nbsp
	    <input type="radio" name="sortType" value="" checked>升序
	    <input type="radio" name="sortType" value="-">降序
        <br>
        <input type="submit" value="筛选">
    </form>

{% if not computer.exists %}
<h4> 没有符合条件的电脑. </h4>
{% else %}
<table>
    <tr>
        <td>型号</td>
        <td>cpu</td>
        <td>显卡</td>
        <td>内存(GB)</td>
        <td>SSD(GB)</td>
        <td>HD(GB)</td>
        <td>屏幕尺寸(英寸)</td>
        <td>品牌</td>
    </tr>
    {% for c in computer %}
    <tr>
        <td><a href="{% url 'shop:computerDetail'  c.computer_id %}">{{c.computer_id}}</a></td>
        <td>{{c.cpu}}</td>
        <td>{{c.graphics_card}}</td>
        <td>{{c.memory}}</td>
        <td>{{c.ssd_capacity}}</td>
        <td>{{c.disk_capacity}}</td>
        <td>{{c.screen_size}}</td>
        <td><a href="{% url 'shop:brand' c.brand.name%}"> {{c.brand.name}} </a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<br><br>
<a href="{% url 'shop:computers' %}">清空筛选条件</a>
<br>
<a href="{% url 'shop:index' %}">返回首页</a>
</body>
</html>