<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'shop/login.css' %}">
</head>
<body>
<div class="wrapper">
    <div class="header">Login to <span>iyaq</span></div>
    <form action="{% url 'shop:login' %}" method="post">
        {% csrf_token %}
        <ul>
            <li style="text-align:center;font-family:arial;color:red;font-size:24px;">
                 {{error}}
            </li>
            <li>
                <div class="text">
                    <span class="yonghu"> </span><input type="text" placeholder="请输入id" name="user_id">
                </div>
            </li>
            <li>
                <div class="password">
                    <span class="mima"> </span><input type="password" placeholder="请输入密码" name="psw">
                </div>
            </li>
            <li>
            <input type="radio" name="type" value="user" checked>   一般用户登录 <br>
            <input type="radio" name="type" value="seller">   卖家登录
            </li>
            <li class="remember">
                <input type="checkbox">记住我
            </li>
            <li>
                <input type="submit" value="登录">
            </li>
            <li style="text-align:center;font-family:arial;color:blue;font-size:24px;"><a href="{% url 'shop:register' %}">注册账号</a></li>
        </ul>
    </form>
</div>
</body>
</html>