<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'shop/login.css' %}">
</head>
<body>
<div class="wrapper">
    <div class="header">Login to <span>iyaq</span></div>
    <form action="{% url 'shop:register' %}" method="post">
        {% csrf_token %}
        <ul>
            <li style="text-align:center;font-family:arial;color:red;font-size:24px;">
                {{error_message}}
            </li>
            <br>
            <li>
                <div class="text">
                    <span class="yonghu"> </span><input type="text" placeholder="请输入用户名" name="user_name">
                </div>
            </li>
            <br>
            <li>
                <div class="password">
                    <span class="mima"> </span><input type="password" placeholder="请输入密码" name="psw">
                </div>
            </li>
            <br>
            <li>
                <div class="password">
                    <span class="mima"> </span><input type="password" placeholder="请再次输入密码" name="psw_confirm">
                </div>
            </li>
            <br>
            <li>
                <div class="text">
                    <span class="mima"> </span><input type="text" placeholder="请输入收货地址" name="address">
                </div>
            </li>
            <br>
            <li>
            <input type="radio" name="sex" value="M" checked>   Male
            <input type="radio" name="sex" value="F">   Female
            </li>
            <li>
            <input type="radio" name="type" value="user" checked>   用户注册
            <input type="radio" name="type" value="seller">   卖家注册
            </li>
            <li>
                <input type="submit" value="注册">
            </li>
            <p style="text-align:center;font-family:arial;color:blue;font-size:18px;"><br><a href="{% url 'shop:login' %}">登录</a></p>
        </ul>
    </form>
</div>
</body>
</html>