<!DOCTYPE html>
<html>
<title>Online Shop</title>
{% comment %} 最近成交，评价 {% endcomment %}
<body>
<h1> {{shop.name}} </h1>

<h2> 店铺详情 </h2>
	<ul>
		<li>发货地:&nbsp {{shop.city}}</li>
		<li>详细地址:&nbsp {{shop.address}}</li>
		<li>开张日期:&nbsp {{shop.open_date}}</li>
		<li>卖家:&nbsp<a href="{% url 'shop:sellerIndex' shop.seller.seller_id %}">{{shop.seller.name}}</a></li>
	</ul>

<h2>在售</h2>
{% if not sell %}
<h4> 该店铺没有在售电脑. </h4>
{% else %}
<table>
    <tr>
        <td>型号</td>
				<td>cpu</td>
        <td>内存<td>
				<td>品牌</td>
				<td>上架日期</td>
        <td>售价(元)</td>
				<td>月销量</td>
				<td></td>
    </tr>
    {% for id, computer_id, cpu, memory, brand_name, onsell_date, price, amount in sell %}
    <tr>
        <td><a href="{% url 'shop:computerDetail'  computer_id %}">{{computer_id}}</a></td>
        <td>{{cpu}}</td>
        <td>{{memory}}GB</td>
				<td><a href="{% url 'shop:brand' brand_name %}">{{brand_name}}</a></td>
				<td>{{onsell_date}}</td>
				<td>{{price}}元</td>
				<td>{{amount}}</td>
				{% if isUser %}
					<td><a href="{% url 'shop:trolley_add' id user_id %}">加入购物车</a></td>
				{% endif %}
		</tr>
    {% endfor %}
</table>
{% endif %}
{% if curSeller %}
<br>
<a href="{% url 'shop:shopManage' shop.shop_id %}"> 管理商品 </a>
{% endif %}

<h4>上月销售额: {{sellAmount}} </h4>

<h3>最近交易</h3>
{% if not buys.exists %}
<h4> 此店铺最近没有交易. </h4>
{% else %}
<table>
    <tr>
				<td>型号</td>
        <td>买家</td>
        <td>日期</td>
        <td>价格</td>
    </tr>
    {% for b in buys %}
    <tr>
        <td><a href="{% url 'shop:computerDetail'  b.computer_id.computer_id %}">{{b.computer_id.computer_id}}</a></td>
				<td><a href="{% url 'shop:userIndex' b.user_id.user_id %}">{{b.user_id.name}}</a></td>
				<td>{{b.buy_time}}</td>
				<td>{{b.price}}元</td>
    </tr>
    {% endfor %}
</table>
	<a href="{% url 'shop:shopSellRecord' shop.shop_id %}">查看所有交易记录</a>
{% endif %}

<h2>评论</h2>
{% if not comments.exists %}
<h4>暂无评论</h4>
{% else %}
	{% for c in comments %}
		<h4><a href="{% url 'shop:userIndex' c.user_id.user_id %}">{{c.user_id.name}}</a> &nbsp {{c.comment_date}}</h4>
		{{c.content}}
		<br>
	{% endfor %}
{% endif %}

<h3> 发表你的评论 </h3>
<form action="{% url 'shop:postShopComment' user_id shop.shop_id %}" method="post">
	{% csrf_token %}
	<textarea name="comment" rows="5" cols="50"></textarea>
	<br>
	<input type="submit">
</form>

</body>
</html>

</body>
</html>
