<!DOCTYPE html>
{% load static %}
<html>
<title>Online Shop</title>

<body>

<h4> user id: {{user_id}},&nbsp user_name: {{user_name}},&nbsp 余额:{{balance}}</h4>
<br>
<a href="{% url 'shop:recharge' user_id %}"> 账户充值 </a>
<br>
<h5> 购买记录 </h5>
{% if buy %}
  <ul>
  {% for record in buy %}
    <li>
        <a href="{% url 'shop:computerDetail' record.computer_id.computer_id %}">{{record.computer_id.computer_id}} </a>&nbsp &nbsp
        <a href="{% url 'shop:shopDetail' record.shop_id.shop_id %}">{{record.shop_id.name}} </a>&nbsp &nbsp
        {{record.buy_time}} &nbsp {{record.price}}元</li>
  {% endfor %}
  </ul>
  <a href="{% url 'shop:buyRecord' user_id %}">查看更多</a>
  {% else %}
    无购买记录
{% endif %}
<br>

<h5> 当前购物车 </h5>
{% if trolley %}
  <ul>
  {% for record in trolley %}
    <li>
    <a href="{% url 'shop:computerDetail' record.sell.computer_id.computer_id %}">{{record.sell.computer_id.computer_id}} </a>&nbsp &nbsp
    <a href="{% url 'shop:shopDetail' record.sell.shop_id.shop_id %}">{{record.sell.shop_id.name}} </a>&nbsp &nbsp
    </li>
  {% endfor %}
  </ul>
  {% if curUser %}
    <a href="{% url 'shop:trolley' user_id %}"> 去结算 </a>
  {% endif %}
  {% else %}
    购物车为空
{% endif %}
<br>
<h5> 代金券 </h5>
{% if coupon %}
  <ul>
  {% for record in coupon %}
    <li>{{record.value}}元代金券,&nbsp {{record.expired}} &nbsp &nbsp 
    {% if curUser %}
    <a href="{% url 'shop:deleteCoupon' record.coupon_id %}">删除</a>
    {% endif %}
    </li>
  {% endfor %}
  </ul>
  {% else %}
    无可用代金券
{% endif %}
<br>
<a href="{% url 'shop:getCoupon' user_id %}"> 领取代金券 </a>
<br>
<h5> 我的收藏 </h5>
{% if mark %}
  <ul>
  {% for record in mark %}
    <li>
      <a href="{% url 'shop:computerDetail' record.computer_id.computer_id %}">{{record.computer_id.computer_id}} </a>   &nbsp
      {{record.mark_date}}
    </li>
  {% endfor %}
  </ul>
  {% else %}
    无收藏
{% endif %}
<br><br>
<a href="{% url 'shop:computers' %}"> 查看所有电脑 </a> <br><br>
<a href="{% url 'shop:shops' %}"> 查看所有店铺 </a> <br><br>
<a href="{% url 'shop:logout' %}">Logout</a>
</body>
</html>
